{% extends 'base.html' %}
{% block content %}
<h1>Common list of books</h1>
<ul>
    {% if object_list %}
    {% for book in object_list %}
    <li>
        <a href="{% url 'books:details' pk=book.id %}">{{ book.name }} - {{ book.author }}</a>
    </li>
    {% endfor %}
    {% else %}
    You have not add a book yet
    {% endif %}
</ul>
<a href="{% url 'books:book-adding' %}">Add book</a>
<a href="{% url 'books:author-adding' %}">Add author</a>
<a href="{% url 'books:genre-adding' %}">Add genre</a>
{% endblock %}